.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-image:
    linear-gradient(rgba(36, 42, 46, 0.8), rgba(36, 42, 46, 0.8)),
    url("/bg.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 1.8rem;
  border: 1px solid rgba(203, 213, 225, 0.12);
  padding: 2.5rem 4rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage h1 {
  font-size: clamp(3.2rem, 4.8vw, 5rem);
  line-height: 1.2;
}

.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: var(--color-light--1);
  margin-bottom: 2.5rem;
}
